<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, anagrams!</p>

  
  <form action="/urls" method="post">
  Type in a URL here: <input type="text" name="url">
  <input type="submit" value="Shorten now">
</form>
 
<br>
 
<form action="/short_url" method="post">
  Enter your link here: <input type="text" name="short_url">
  <input type="submit" value="Go there!">
</form>


  <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table>
</div>
